.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: azure;
}

.container{
  margin-top: 50px;
  /* text-align: center; */
  background-color: rgb(249, 241, 167);
  height: 60%;
  width: 70%;
  min-height: 500px;
  max-width: 300px;
}

/* li{
  text-align: center;
} */
.li_box{
  display: flex;
  justify-content: space-between;
}

.done_btn{
  /* margin-right: 0px; */
  margin-left: 5px;
}

.title{
  text-align: center;
}

.input_field{
  text-align: center;
  
}

.input{
  margin-right: 30px;
  border: none;
  border-bottom: dashed;
  height: 22px;
  border-color: rgb(237, 192, 29);
  
}

.input_field {
  border: none;
}

.btn{
  color: white;
  font-size: 0.8rem;
  border: none;
  height: 23px;
  background-color: rgb(20, 177, 244);
  cursor: pointer;
}

.btn:hover{
  background-color: white;
  color: rgb(20, 177, 244);;
}

